.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 90px 150px;
    /* background-color: #000; */
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-left img {
    width: 300px;
    border-radius: 20px;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 200;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #eab464 -5.09%, #ba5ee5 106.28%);
}

.certificate {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 106.28%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-achievements {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin-left: 200px;
    gap: 100px;

    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-right: 50px;
    transition: 0.5s;
}


/* .about-achievement:hover {
    border: 2px solid #B415FF;
    transition: 0.3s ease;
    
} */

.about-achievement h1 {
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 106.28%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;

}

.about-achievement a {
    text-decoration: none;
    color: inherit;

}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}


.about-workShop {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}


@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-title img {
        width: 130px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 2px;
        align-items: center;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-skill hr {
        width: 80%;
        height: 6px;

    }

    .certificate {
        font-size: 34px;
    }

    .about-achievements {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* justify-content: space-between; */

    }

    .about-achievement {
        text-align: center;
        width: 100%;
        max-width: 300px;
        /* gap: 10px; */
    }

    .about-achievement h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
    }

    .about-achievement p {
        text-align: center;
        font-size: 14px;
    }

    .about-workShop {
        display: flex;
        flex-direction: column;
        /* Stack vertically */
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }

    .about-workShop .about-achievement {
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .about-workShop .about-achievement h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }

    .about-workShop .about-achievement p {
        font-size: 16px;
        text-align: center;
    }

    .about-workShop a {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
    }

}