.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 120px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    height: 650px;
    /* flex-wrap: wrap; */
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30pxs;
    color: #d8d8d8;
    font-size: 22ox;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
    width: 450px;
    height: auto;
}

.contact-right {
    /* width: 10px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    /* justify-content: center; */
}

.contact-right label {
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    /* max-width: 700px; */
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #e9e1e1;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 700px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(260deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 20px;
    padding: 15px 45px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.contact-details .contact-detail img {
    width: 20px;
    height: auto;
    margin-bottom: 15px;
    /* color: white; */
}


@media(max-width:768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;

    }

    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-left {
        font-size: 54px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-detail {
        gap: 20px;
    }

    .contact-detail img {
        width: 25px;
    }

    .contact-right {
        margin-top: -110px;
    }

    .contact-right lable {
        font-size: 20px;
    }

    .contact-right input {
        width: 100%;
        height: 60px;
        font-size: 20px;
    }

    .contact-right textarea {
        width: 100%;
        height: 30%;
    }

    .contact-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}