.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background-color: #000;
}


.hero img {
    width: 160px;
    height: 180px;
    margin-top: 100px;
    border-radius: 80%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 80px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 0%, #B415FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-resume a {
    text-decoration: none;
    color: inherit;

}

.hero-connect:hover {
    border: 3px solid white;
    /* transition: all 0.3s ease; */
}

.hero-resume:hover {
    border: 2px solid #B415FF;
    transition: all 0.2s ease;
}