.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    margin-bottom: 0px;
    background: transparent;
    z-index: 99;

}

.navbar img {
    width: 90px;
    height: auto;
    border-radius: 100px;
}

.navbar .nav-mob-open {
    width: 30px;
    border-radius: 0;
}

.nav-menu .nav-mob-close {
    width: 30px;

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 22px;
    margin-top: 30px;
    cursor: pointer;
}


.nav-connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    cursor: pointer;
}

.nav-menu li img {
    width: 60px;
    /* margin-left: 30px; */
    /* margin-top: -50px; */
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .navbar .nav-mob-open {
        display: block;
        position: fixed;
        right: 0px;
        width: 30px;
        border-radius: 0;
    }

    .nav-menu .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;

    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        margin: 0px;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;

    }

    .nav-connect {
        display: none;
    }
}