.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;

}

.navbar img {
    width: 90px;
    height: auto;
    border-radius: 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-connect:hover {
    transform: scale(1.05);
}