.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    /* width */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container .pic {
    width: 419px;
    height: 280px;
    box-sizing: border-box;
    justify-content: space-around;
    cursor: pointer;
}

.mywork-container .pic:hover {
    transform: scale(1.10);
    border: 2px solid #651fab;
    border-radius: 10px;
    transition: 0.3s;
}


.mywork-showmore {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    border: 3px solid white;
    padding: 8px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 60px;
    transition: 0.6s;
    cursor: pointer;
    margin: 10 auto;
    justify-content: center;
    align-items: center;
}

.showmore-wrapper {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 40px;
}

.mywork-showmore img {
    width: 30px;
    height: auto;
    margin-top: 0px;
    margin-left: 10px;
}

.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}


@media(max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;

    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-title img {
        width: 130px;
        margin-right: -20px;
    }

    .mywork-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .mywork-container img {
        border-radius: 10px;
    }

    .mywork-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}